# ignore any vim files:
*.sw[a-z]
.netrwhist
.netrwbook

# osx noise
.DS_Store
profile

# changes to the dictionary:
spell/

# temp dir for persistant vim undo support:
tmp/*

# ignore installed modules
vim-addons/*
